{{!-- table.table-primary.text-center.bg-light.mt-3.mb-3>tr*3>th*8 --}}
<table class="table table-primary text-center bg-light mt-3 mb-3">
    <tr>
        <th class="h1 text text-danger" colspan="7">Toy Store ({{ total }})</th>
        <form action="/movie/search" method="post">
            <input class="form-control" type="search" name="keyword" placeholder="Search by movie title">
        </form>
        <th>
            <a class="btn btn-success" href="/add">Add</a>
            <a class="btn btn-danger" href="/drop"
                onclick="return confirm('Are you sure to delete all toys ?');">Drop</a>
        </th>
    </tr>
    <tr class="cot">
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Brand</th>
        <th>Quantity</th>
        <th>Image</th>
        <th>Detail</th>
        <th style="color:brown">Function</th>
    </tr>
    {{#each toys }}
    <tr>
        <th>{{ name }}</th>
        <th>${{ price }}</th>
        <th>{{ category }}</th>
        <th>{{ brand }}</th>
        <th>{{ quantity }}</th>
        <th>
            <img class="zoom" src="{{ image }}" width="100" height="100">
        </th>
        <th>{{ detail }}</th>
        <th>
            <a class="btn btn-warning" href="/edit/{{_id}}">Edit</a>
            <a class="btn btn-danger" href="/delete/{{_id}}"
                onclick="return confirm('Are you sure to delete this mobile ?');">Delete</a>
        </th>
    </tr>
    {{/each}}
</table>